body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
}
.root {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #262626;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-self: center;
}
.particles-js-canvas-el {
    position: absolute;
    z-index: -1;
}
@keyframes fadein  {

    0% {
        opacity: 0;
        filter: blur(5px);
    }
    100%
    {
        opacity: 1;
        filter: blur(0);
    }
}
#full { 
    font: Roboto;
    color: #d9d9d9;
    margin-top: 20vh;
    font-size: 3.5em;
    width: 6em;
    text-align: center;
    font-weight: 1;
    letter-spacing: 0.3em;
    /*
    animation-delay: 0s;
    animation-duration: 2s;
    /*opacity: 1;
    filter: blur(5px);
    animation-name: fadein;
    */
    animation-delay: 0s;
    animation-duration: 2s;
    /*opacity: 1;
    filter: blur(5px);*/
    animation-name: fadein;
}

#sname {
    font-size: 1.2em;
    color: #F2F5EA; /*#8fbc8f*/
}

#info {
    font: Roboto;
    font-size: 1em;
    color: #E4572E;
    font-weight: bolder;
    text-align: center;
    letter-spacing: 0.3em;
    animation-delay: 0s;
    animation-duration: 3s;
    /*opacity: 1;
    filter: blur(5px);*/
    animation-name: fadein;
    pointer-events: all;

}

#namehead {
    margin: 10%;
    /*pointer-events: none;*/
}

.item {
    color: #E4572E;
    text-decoration: none;
    transition: .2s;
}
.item:hover {
    color: #d9d9d9;
    font-size: 110%;
}
