body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: #262626;
}

.disable-select {
  user-select: none; /* supported by Chrome and Opera */
 -webkit-user-select: none; /* Safari */
 -khtml-user-select: none; /* Konqueror HTML */
 -moz-user-select: none; /* Firefox */
 -ms-user-select: none; /* Internet Explorer/Edge */
}

#containter{
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: 50% 50% ;
  background-repeat: no-repeat;
}

#root {
  width: 100%;
  height: 100%; /*position fiexed*/
  position: relative;
  display: flex;
  justify-content: center;
  align-self: center;
  text-align: center;
}

#arrow {
  border: solid #e4582e8c;
  border-width: 0 10px 10px 0;
  display: inline-block;
  padding: 10px;
  z-index: top;
  transition: .2s;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
#arrow:hover{
  border: solid #d9d9d9;
  border-width: 0 10px 10px 0;
}


/*
hr {
  border: 2px solid #E4572E;
  width:75%;
  z-index: 10;
}*/

#root2 {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
}

.particles-js-canvas-el {
  position: fixed;
  z-index: -10;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

@keyframes fadein  {
  0% {
    opacity: 0;
    filter: blur(5px);
  }
  100%
  {
    opacity: 1;
    filter: blur(0);
  }
}

.full { 
  font: Roboto;
  color: #d9d9d9;
  margin-top: 20vh;
  font-size: 3.5em;
  width: 6em;
  text-align: center;
  font-weight: 1;
  letter-spacing: 0.3em;
  /*
  animation-delay: 0s;
  animation-duration: 2s;
  /*opacity: 1;
  filter: blur(5px);
  animation-name: fadein;
  */
  animation-delay: 0s;
  animation-duration: 2s;
  /*opacity: 1;
  filter: blur(5px);*/
  animation-name: fadein;
}

.full-smaller { 
  font: Roboto;
  color: #d9d9d9;
  margin-top: 0;
  font-size: 3em;
  width: 6em;
  text-align: center;
  font-weight: 1;
  letter-spacing: 0.2em;
  /*
  animation-delay: 0s;
  animation-duration: 2s;
  /*opacity: 1;
  filter: blur(5px);
  animation-name: fadein;
  */
  animation-delay: 0s;
  animation-duration: 2s;
  /*opacity: 1;
  filter: blur(5px);*/
  animation-name: fadein;
}

#sname {
  font-size: 1.2em;
  color: #F2F5EA; /*#8fbc8f*/
}

#info {
  font: Roboto;
  font-size: 1em;
  color: #E4572E;
  font-weight: bolder;
  text-align: center;
  letter-spacing: 0.3em;
  animation-delay: 0s;
  animation-duration: 3s;
  /*opacity: 1;
  filter: blur(5px);*/
  animation-name: fadein;
  pointer-events: all;

}

#namehead {
  margin: 10%;
  /*pointer-events: none;*/
  height: 100vh;
}

#projects{
  margin: 0%;
  height: 100vh;
}

.item {
  color: #E4572E;
  text-decoration: none;
  transition: .2s;
}
.item:hover {
  color: #d9d9d9;
  font-size: 110%;
}